.book-image {
    display: block;
    float: left;
    max-width: 100%;
    padding: 10px;
}
.book-information {
    display: grid;
    padding: 10px;
}
.book-list-container {
    display: grid;
}

@media screen and (max-width: 500px) {
    .form {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    #searchBookInput {
        width: 100%;
    }
}

@media screen and (min-width: 501px) {
    .form {
        width: 90%;
        margin: 0 auto;
    }
    #searchBookInput {
        width: 265px;
    }
}
#searchBookInput {
    border: 0.0625em solid #dedede;/*1-20*/
    background: #f2f2f1;
    border-radius: 0.3125em;/*5-20*/
    padding: 0.625em;/*10-20*/
}
#searchBookInput:hover,
#searchBookInput:focus {
    border: 0.0625em solid black;/*1-20*/
    background: #EAEAEA;
    outline: none;
}
